tensorflow[and-cuda]
opencv-python-headless # dont use opencv-python, it will cause a conflict with PyQt5
split-folders
scikit-learn
matplotlib
seaborn
numpy
PyQt5

notebook 
jupyterlab 
ipykernel